body {
    background-color: white;
    color: black
}

.pi-box {
    background-color: white;
    border-color: rgba(227, 227, 227, 1);
}

.pi-line{
    stroke: rgba(223, 230, 235, 1);
}

.grid {
    stroke:rgba(242, 244, 245, 1);
}

.labels {
    fill: rgba(150, 162, 170, 1);
}

.nav {
    fill: rgba(221, 234, 243, 1);
}

.nav-pos {
    stroke: rgba(221, 234, 243, 1);
}

.graph-button {
    border-color: rgba(230, 236, 240, 1);
    color: black
}